table {
	margin: 0 auto;
}

tbody, th, td {
	border: 1px solid black;
}

td {
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	width: 30px;
	height: 30px;
}

#status {
	display: none;
	text-align: center;
}

#my-id {
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	/*letter-spacing: 3px;*/
}

.X {
	color: red;
}

.O {
	color: blue;
}

body {
	background-color: #009999;
	font-family: sans-serif;
}

#container {
	text-align: center;
	border-radius: 10px;
	background-color: #FF9640;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -105px;
	padding: 5px;
	width: 210px;
	height: 150px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}